.homepagemargin {
  margin-left: 15%;
  margin-right: 15%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  animation: 2s slideUp;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.QRCode {
  padding: 10px;
  max-height: 350px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}
.HomepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.HomepageVector {
  height: clamp(300px, 30vw, 550px);
  /* 1) fade in over 4s, hold final state (forwards)
     2) once that’s done, start the pulse after a 4s delay, repeat forever
  */
  animation:
    fadeIn 3s ease-in-out forwards,
    pulse 5s ease-in-out 3s infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  /* very subtle grow/shrink + slight opacity shift */
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Typewriter {
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 750px) {
  .Typewriter {
    font-size: 25px;
  }
}
